html{
    background: linear-gradient(#f4076a, #84020b);
    font-family: 'Roboto', sans-serif;
}

/* nav bar */
.quiz-info{
    /* list-style-type: none; */
    margin: 1rem;
    padding: 0px;
    color: white;
    font-weight: 900;
}

#score-board{
    background-color:#84020b;
    width: 5rem;
    border-radius: 2.0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem;

   
}

#timer-count{
    background-color:#84020b;
    width: 3rem;
    border-radius: 2.0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem;
    float: right;
}


/* quiz layout */
.quiz{
    background: white;
    width: 95%;
    max-width: 750px;
    margin: 100px auto 0;
    border-radius: 15px;
    padding: 25px;
    /* display: flex; */
}

.quiz h1{
    font-weight: 900;
    color: #84020b;
    border-bottom: 2px solid #84020b;
    padding-bottom: 20px;
}

.quiz-board{
    padding: 20px 0;
}

.quiz-board h2{
    font-weight: 400;
    color: #84020b;
}

/* buttons */
.btn{
    background-color: #ffffff;
    color: #84020b;
    font-weight: 400;
    width: 100%;
    border: 2px solid #84020b;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-align: left;
}

.btn:hover:not([disabled]){
   background: #f4076a; 
   color: #84020b;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #84020b;
    color: #ffffff;
    border-radius: 5px;
    width: 120px;
    padding: 10px;
    margin: 40px 0;
    border: none;
    font-weight: 900;
    cursor: pointer;
    display: none;
}

.correct{
    background: rgb(2, 128, 2);
    color: #ffffff;
}

.incorrect{
    background: rgb(255, 255, 255);
}
